<div class="ac-item">
                    <a href="/test">
                        <img class="ac-img" src="/public/images/activity/d9b0e9cf580e309fb009673dc8c42576_1439202042.jpg" title="这是活动的测试标题">
                    </a>
                    <div class="ac-date">发布时间：2015-07-15 16:32:17</div>
                </div><div class="ac-item">
                    <a href="/ccc">
                        <img class="ac-img" src="/public/images/activity/8c9c9b1dc359e6c8f01731ce2dafc721_1438940891.jpg" title="ccc">
                    </a>
                    <div class="ac-date">发布时间：2015-07-19 16:40:38</div>
                </div><div class="ac-item">
                    <a href="/abouts">
                        <img class="ac-img" src="/public/images/activity/6728df9421c7611c43a044d19330b23f_1438940899.jpg" title="aaaa">
                    </a>
                    <div class="ac-date">发布时间：2015-07-15 16:31:02</div>
                </div><div class="ac-item">
                    <a href="/hello">
                        <img class="ac-img" src="/public/images/activity/3faa12307bd8db3450f7d2e5b9ed0046_1438940908.jpg" title="ttt">
                    </a>
                    <div class="ac-date">发布时间：2015-07-19 17:41:14</div>
                </div><div class="ac-item">
                    <a href="#">
                        <img class="ac-img" src="/public/images/activity/14df85405ffe6ba1a0bc6112a56a4cfd_1439542178.jpg" title="aaaaaaa">
                    </a>
                    <div class="ac-date">发布时间：2015-08-14 16:53:05</div>
                </div><div class="ac-item">
                    <a href="#">
                        <img class="ac-img" src="/public/images/activity/ae096fea5d27d446bf075bcdff0c007c_1439783895.jpg" title="">
                    </a>
                    <div class="ac-date">发布时间：2015-08-17 12:01:20</div>
                </div><div class="ac-item">
                    <a href="/aa">
                        <img class="ac-img" src="/public/images/activity/24ee17de89d6b8e7ae0e7fbb9852fe59_1439884517.jpg" title="aaabb">
                    </a>
                    <div class="ac-date">发布时间：2015-08-18 15:58:28</div>
                </div><div class="ac-item">
                    <a href="/nac/24">
                        <img class="ac-img" src="/public/images/activity/b17f89ef44bbbe5fd27d79b0b2198fb6_1439886561.jpg" title="test">
                    </a>
                    <div class="ac-date">发布时间：2015-08-18 16:32:33</div>
                </div><div class="ac-item">
                    <a href="/nac/27">
                        <img class="ac-img" src="/public/images/activity/c46cb14c5d03560aff84ea78018ea52f_1439890101.jpg" title="联调">
                    </a>
                    <div class="ac-date">发布时间：2015-08-18 17:32:01</div>
                </div>