<div class="inx-banner clearfix" >
    <div class="flexslider" id="mainSlider">
        <ul class="slides">
            <li><a href="http://v.1room.cc/101116441" target="_blank" title="" class="slide-bg">
                <img src="" width="1000px" height="300px" class="slide-img1">
            </a></li>
            <li><a href="/notice" target="_blank" class="slide-bg">
                <img src="" width="1000px" height="300px" class="slide-img2">
            </a></li>
            <li><a href="http://www.1room.asia/notice" title="" class="slide-bg">
                <img src="" width="1000px" height="300px" class="slide-img3">
                </a></li>
            <li><a href="#" title="" class="slide-bg">
                <img src="" width="1000px" height="300px" class="slide-img4">
            </a></li>
            <li><a href="#"  title="" class="slide-bg">
                <img src="" width="1000px" height="300px" class="slide-img5">
            </a></li>
        </ul>
    </div>
</div>