<div class="inx-footer clearfix">
    <div class="container">
        <ul class="inx-footer-content clearfix">
            <li><a href="/about/aboutus">关于我们</a></li>
            <li><a href="/business/co">代理招募</a></li>
            <li><a href="/about/help?handle=sug">投诉建议</a></li>
            <li class="bn"><a href="/about/state">免责条款</a></li>
        </ul>
        <div class="inx-footer-suport ">
            <div class="suport-box">
                <div class="suport-box-ico ico1"></div>
                <span class="mt0">经营性网站备案信息</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico2"></div>
                <span>不良信息举报中心</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico3"></div>
                <span class="mt0">北京互联网举报中心</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico4"></div>
                <span>北京网络行业协会</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico5"></div>
                <span>网络110报警服务</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico6"></div>
                <span>不良视听节目举报</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico7"></div>
                <span>中国互联网协会</span>
            </div>
            <div class="suport-box">
                <div class="suport-box-ico ico8"></div>
                <span class="mt0">北京文化市场举报热线</span>
            </div>
            <div class="suport-box nm">
                <div class="suport-box-ico ico9"></div>
                <span>首都互联网协会</span>
            </div>
        </div>
    </div>
</div>

