<div class="side-ad">
    <div class="flexslider" id="sideSlider">
        <ul class="slides">
            <li><a href="/activity/getvip" target="_blank" class="slide-bg">
                <img src="" width="210px" height="224px" title="">
            </a></li>
            <li><a href="/activity" target="_blank" class="slide-bg">
                <img src="" width="210px" height="224px" title="">
            </a></li>
            <li><a href="#" title="" class="slide-bg">
                <img src="" width="210px" height="224px" title="">
                </a></li>
        </ul>
    </div>
</div>