{% extends "Admin/layout.html.twig" %}


{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        {% include 'Admin/nav_top.html.twig' %}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>基本图库</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">主页</a>
                    </li>
                    <li>
                        <a>图库</a>
                    </li>
                    <li>
                        <strong>基本图库</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>基本图库</h5>
                            <div class="ibox-tools">
                                <a class="">
                                    图库上传
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            {% for img in photoList %}
                                <a class="fancybox" href="{{ img.path }}" title="图片">
                                    <img alt="image" src="{{ img.path }}" />
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
            </div>
            <div>
                <strong>Copyright</strong> H+ &copy; 2014
            </div>
        </div>

    </div>
{% endblock %}