<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{{ IMG_PATH }}img/profile_small.jpg" />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Beaut-zihan</strong>
                             </span> <span class="text-muted text-xs block">超级管理员 <b class="caret"></b></span> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a href="profile.html">个人资料</a>
                        </li>
                        <li><a href="contacts.html">联系我们</a>
                        </li>
                        <li><a href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    H+
                </div>

            </li>
            <li class="active">
                <a href="/admin/post"><i class="fa fa-th-large"></i>
                    <span class="nav-label">文章</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/post">所有文章</a>
                    </li>
                    <li><a href="/admin/post_add">写文章</a>
                    </li>
                    <li><a href="/admin/category">文章分类</a>
                    </li>
                    <li><a href="/admin/tags">标签</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/medal"><i class="fa fa-th-large"></i>
                    <span class="nav-label">多媒体</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/admin/media">所有媒体</a>
                    </li>
                    <li><a href="/admin/media_upload">添加</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>